.container{
    text-align: center;
    padding-top: 30px;
}
input{
    height: 35px;
    width: 30%;
    font-size: 20px;
}
label{
    position: absolute;
    padding-top: 30px;
    top: 1%;
    right: 36%;
    font-weight: 600;
}